<article>
    <div id="login">
        <h4>Login</h4>
        <form action="javascript:void(0);" id="login-form">
            <label for="l-username">Username:</label>
            <input type="text" id="l-username" name="username" placeholder="Username"/>
            <label for="l-password">Password:</label>
            <input type="password"
                   id="l-password"
                   name="password"
                   placeholder="Password"/>
            <button id="login-btn">
                Login
            </button>
        </form>
        Use an account from ? <a data-allow="true" href="https://dummyjson.com/users">Use on of them</a>
    </div>
</article>